<body>
  <div class="card">
      <div class="circle"></div>
      <div class="content">
       <h3>🐝  My Honey  🍯</h3>
       <p>Get the honey you always wanted at your door step today quick and easy. </p>
       <h4>Kilogram(s):</h4>
       <div class="amount">
        <button (click)="minuskilo()" class="btn" ><i class="fa fa-minus"></i></button>
        <li>{{quantity}}</li>
        <button (click)="addmorekilo()" class="btn1"><i class="fa fa-plus"></i></button>
       </div>
       <h4>Total: {{total}}</h4>
       <a (click)="enterdata()">Order Now</a>
      </div> 
      <img src="assets/honey.png">
  </div>
