<body>
  <div class="card">
      <div class="circle"></div>
      <div class="content">
       <h3>My Honey</h3>
       <p>Get the honey you always wanted at your door step today quick and easy. </p>
       <h4>Kilogram(s):</h4>
       <div class="amount">
        <button (click)="minuskilo()" class="btn" ><i class="fa fa-minus"></i></button>
        <li>{{quantity}}</li>
        <button (click)="addmorekilo()" class="btn1"><i class="fa fa-plus"></i></button>
       </div>
       <h4>Total: {{total}}</h4>
       <a (click)="enterdata()">Buy <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
      </svg></a>
      </div>
      <img src="assets/honey.png">
  </div>
